NEXT_PUBLIC_SUPABASE_URL=https://naiyauniowplklexhqsq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5haXlhdW5pb3dwbGtsZXhocXNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NzcwNTAsImV4cCI6MjA5MjA1MzA1MH0.Vq5Wp-chY430Ym3dmD4qxEyQdX7rh4Vm-gjhsm4W-DE
